// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.o-c-p.param_block {
  height: 274px;
  width: 20%;
  float: left;
}

.o-c-p.ai_list {
  width: 75%;
}

.o-c-p.new_chat {
  width: 15%
}

.o-c-p.chat_block {
  height: 274px;
  width: 80%;
  float: right;
}

.o-c-p.chat_history {
  height: 200px;
  overflow: auto;
}

.o-c-p.message_history.user {
  text-align: right;
}

.o-c-p.message_block {
  position: relative;
  height: 40px;
}

.o-c-p.message_input {
  resize: none;
  width: calc(100% - 70px);
  height: 60px;
  float: left;
}

.o-c-p.send_button {
  width: 50px;
  height: 30px;
  margin: 5px;
}
